
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
background: var(--color-bg);
}

a{
  color: unset;
  text-decoration: none;
}
.gradient_bg {

  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 4% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 99%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 4% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 99%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 4% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 99%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 4% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 99%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 4% 27%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 99%);

}

.gradient_text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip : text;
  -webkit-text-fill-color: transparent;
}

.section_padding {
 padding: 3rem 6rem;
}

.section_margin {
  margin: 3rem 6rem;
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media screen and (max-width:750px){
  .section_padding{
    padding: 4rem;
  }
  .section_margin{
    margin: 4rem;
  }
}

@media screen and (max-width:550px){
  .section_padding {
    padding: 4rem 2rem;
  }
  .section_margin{
    margin: 4rem 2rem;
  }
}